.product-case {
    background: rgba(0, 0, 0, 0.02);
}

.product-overlay {
    position: relative;
    width: 100%;
    padding-top: 100%;
    
    .product-image {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    .product-detail {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.87);
        background: rgba(255, 255, 255, 1);
        text-decoration: none;
        transition: 0.3s opacity;
        opacity: 0;
        
        h4 {
            font-weight: 700;
        }
        
        &:hover {
            opacity: 0.9;
        }
    }
}
    
.item-detail {
    background: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .square {
        width: 100%;
        padding-top: 100%;
        position: relative;
        display: flex;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h2 {
        font-weight: 700;
    }
}