.sidebar {
    padding-left: 0;
    margin-left: 0;
    background-color: white;
    list-style: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;

    .sidebar-item {
        
        .sidebar-link, .sidebar-logo {
            display: block;
            padding: 1rem;
            padding-left: 3rem;
            color: rgba(0, 0, 0, 0.87);
            text-decoration: none;
        }

        .sidebar-link {
            font-weight: 400;

            &:hover,
            &.active {
                font-weight: 700;
            }
        }

        .sidebar-logo {
            font-size: 1 * 1.1608rem;
            font-weight: 700;
        }
    }

    .sidebar-separator {
        margin-bottom: 1 * 1.608 * 1.608rem;
    }
}