<template>
    <div class="row d-flex align-items-center cart-control">
        <div class="col-auto">
            <button class="btn btn-outline-danger" v-on:click="this.delete">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="col-auto">
            <img
                v-bind:src="assetify(this.item.details.images)" 
                v-bind:alt="this.item.details.item_name" />
        </div>
        <div class="col-2">
            <h4 class="m-0">{{ this.item.details.item_name }}</h4>
        </div>
        <div class="col-2">
            <h6 class="m-0">{{ this.item.details.price }}</h6>
        </div>
        <cart-quantifier
            v-bind:cart-id="this.item.id"
            v-bind:price="this.item.details.raw_price"
            v-bind:max="this.item.details.quantity"
            v-bind:quantity="this.item.quantity"
        ></cart-quantifier>
    </div>
</template>

<script>
    export default {
        props: [
            'object',
            'assetLink'
        ],

        data: function() {
            return {
                item: JSON.parse(this.object),
            }
        },

        methods: {
            assetify: function(rawImage) {
                const image = JSON.parse(rawImage)[1];
                const link = this.assetLink + '/' + image;

                return link;
            },
            delete: function() {
                swal.fire({
                    title: 'Hapus barang?',
                    text: 'Anda yakin ingin menghapus barang ini dari keranjang?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Ya',
                    cancelButtonText: 'Tidak',
                }).then((result) => {
                    if(result.value) {
                        $.ajax({
                            url: '/cart/remove/' + this.item.id,
                            method: 'delete',
                            headers: {
                                'X-CSRF-TOKEN': $("meta[name='csrf-token']").attr('content')
                            },
                            success: function(res) {
                                if(res.success == 1) {
                                    swal.fire({
                                        title: 'Terhapus!',
                                        text: 'Barang telah dihapus dari keranjang.',
                                        icon: 'success',
                                        confirmButtonText: 'Oke',
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                } else {
                                    swal.fire(
                                        'Gagal!',
                                        'Barang gagal dihapus dari keranjang. Kontak developer untuk masalah ini.',
                                        'error',
                                    );
                                }
                            },
                            error: function(res) {
                                swal.fire(
                                    'Gagal!',
                                    'Ada kesalahan pada server. Kontak developer untuk masalah ini.',
                                    'error'
                                );
                            }
                        });
                    }
                });
            },
            countFinalPrice() {
                alert('Counted');
            }
        }
    }
</script>