<template>
    <div class="col">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button 
                            class="btn btn-outline-secondary"
                            v-on:click="decrease()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                    </div>
                    <input 
                        type="number"
                        name="quantity"
                        id="quantity"
                        class="form-control outline-secondary"
                        @blur="recount()"
                        v-bind:min="min"
                        v-bind:max="max"
                        v-bind:value="counter" />
                    <div class="input-group-append">
                        <button 
                            class="btn btn-outline-secondary"
                            v-on:click="increase()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col text-right">
                <h6 class="m-0">
                    <em>
                        {{ priceDisplay }}
                    </em>
                </h6>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'cartId', 'max', 'quantity', 'price'
        ],

        data: function() {
            return {
                min: 1,
                counter: this.quantity,
                finalPrice: parseInt(this.price),
                priceDisplay: '',
            }
        },

        mounted() {
            this.formatPrice(this.finalPrice);
        },

        methods: {
            formatPrice() {
                let val = (this.finalPrice/1) * this.counter;
                this.priceDisplay = 'Rp' + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
            },
            

            updateQuantity: function() {
                var data = {
                    'quantity': this.counter
                }
                
                $.ajax({
                    url: '/cart/update/' + this.cartId,
                    headers: {
                        'X-CSRF-TOKEN': $("meta[name='csrf-token']").attr('content')
                    },
                    data: data,
                    method: 'put',
                });

                window.location.reload();
            },

            increase: function() {
                if(this.counter != this.max) {
                    this.counter++;
                    this.updateQuantity();
                }
            },

            recount: function() {
                const val = document.getElementById('quantity').value;
                this.counter = val;
                
                this.updateQuantity();
            },
            
            decrease: function() {
                if(this.counter != this.min) {
                    this.counter--;
                    this.updateQuantity();
                }
            },
        }
    }
</script>