<template>
    <div id="cartTotal">
        <div class="row mb-3">
            <div class="col-8">
                <h4>Subtotal</h4>
            </div>
            <div class="col-4">
                <p class="text-right">
                    <em>Rp900.000</em>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Pengiriman</h4>
            </div>
            <form class="col-6 offset-2" @submit="checkForm">
                <p v-if="errors.length">
                    <b class="text-danger mb-2">Ada (beberapa) kesalahan:</b>
                    <ul class="pl-0 ml-0">
                        <li v-for="error in this.errors" :key="error">{{ error }}</li>
                    </ul>
                </p>
                <p class="mb-3">
                    Dikirim ke
                    <em>
                        <b>
                            {{ alamat }}
                        </b>
                    </em>
                </p>
                <div class="row mb-3">
                    <input @keyup="formatAlamat()" type="text" name="province" id="province" class="form-control" important="important" placeholder="Provinsi" v-model="provinsi" />
                </div>
                <div class="row mb-3">
                    <input @keyup="formatAlamat()" type="text" name="city" id="city" class="form-control" important="important" placeholder="Kota" v-model="kota" />
                </div>
                <div class="row mb-3">
                    <input @keyup="formatAlamat()" type="number" name="postal_code" id="postal_code" class="form-control" important="important" placeholder="Kode Pos" v-model="kodePos" />
                </div>
                <div class="row mb-3">
                    <button type="submit" class="btn btn-secondary">
                        Checkout
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                errors: [],
                provinsi: null,
                kota: null,
                kodePos: null,
                alamat: ''
            }
        },

        methods: {
            formatAlamat: function() {
                this.alamat = this.kota + ', ' + this.provinsi + ', ' + this.kodePos;
            },
            checkForm: function(e) {
                e.preventDefault();

                if(this.provinsi && this.kota && this.kodePos) {
                    return true;
                }

                this.errors = [];

                if(!this.provinsi) {
                    this.errors.push('Provinsi perlu diisi');
                }
                
                if(!this.kota) {
                    this.errors.push('Kota perlu diisi');
                }

                if(!this.kodePos) {
                    this.errors.push('Kode pos perlu diisi');
                }
            }
        }
    }
</script>