<template>
    <div class="row p-5 item-detail">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4 mb-md-4">
            <div class="square">
                <img v-bind:src="this.itemImage" />
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
            <h2 class="mb-1">{{ this.itemName }}</h2>
            <p class="mb-4">{{ this.itemPrice }}</p>
            <p class="mb-4">{{ this.itemDescription }}</p>
            <div class="row">
                <div class="col-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button 
                                class="btn btn-outline-secondary"
                                v-on:click="decrease()">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </div>
                        <input 
                            type="number"
                            name="quantity"
                            id="quantity"
                            class="form-control outline-secondary"
                            @blur="recount()"
                            v-bind:min="min"
                            v-bind:max="max"
                            v-bind:value="counter" />
                        <div class="input-group-append">
                            <button 
                                class="btn btn-outline-secondary"
                                v-on:click="increase()">
                                <i class="fas fa-chevron-right"></i>
                            </button>

                            <button 
                                class="btn btn-secondary"
                                v-if="onCart == true"
                                v-on:click="removeFromCart()">
                                Hapus dari keranjang</button>
                            <button
                                class="btn btn-outline-secondary"
                                v-else
                                v-on:click="addToCart()">
                                Tambah ke keranjang</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'itemId',
            'itemImage',
            'itemName', 
            'itemPrice', 
            'itemDescription', 
            'itemQuantity',
            'inCartId',
            'inCart',
            'inCartQuantity'
        ],

        data: function() {
            return {
                counter: this.inCartQuantity,
                min: 1,
                max: this.itemQuantity,
                onCart: (this.inCart == '1' ? true : false)
            }
        },
        
        methods: {
            updateQuantity: function() {
                var data = {
                    'quantity': this.counter
                }
                
                if(this.inCartId != 0) {
                    $.ajax({
                        url: '/cart/update/' + this.inCartId,
                        headers: {
                            'X-CSRF-TOKEN': $("meta[name='csrf-token']").attr('content')
                        },
                        data: data,
                        method: 'put',
                    });
                }
            },

            increase: function() {
                if(this.counter != this.max) {
                    this.counter++;
                    this.updateQuantity();
                }
            },

            recount: function() {
                const val = document.getElementById('quantity').value;
                this.counter = val;
                
                this.updateQuantity();
            },
            
            decrease: function() {
                if(this.counter != this.min) {
                    this.counter--;
                    this.updateQuantity();
                }
            },

            addToCart: function() {
                var data = {
                    'quantity': this.counter
                }

                $.ajax({
                    url: '/cart/add/' + this.itemId,
                    headers: {
                        'X-CSRF-TOKEN': $("meta[name='csrf-token']").attr('content')
                    },
                    data: data,
                    method: 'post',
                    success: function(res) {
                        window.location.reload();
                    },
                    error: function(res) {
                        alert("Error");
                    }
                });
            },

            removeFromCart: function() {
                $.ajax({
                    url: '/cart/remove/' + this.inCartId,
                    headers: {
                        'X-CSRF-TOKEN': $("meta[name='csrf-token']").attr('content')
                    },
                    method: 'delete',
                    success: function(res) {
                        if(res['success']) {
                            window.location.reload();
                        }
                    },
                    error: function(res) {
                        alert("Error");
                    }
                });
            }
        }
    }
</script>