<template>
    <div>
        <div class="row p-5 item-related">
            <div class="col-4">
                <h2 v-if="preferedTitle != ''">
                    {{ this.preferedTitle }}
                </h2>
                <h6 v-else>
                    <b>Produk Terkait</b>
                </h6>
            </div>
        </div>
        <div class="row px-5 pb-5">
            <div 
                class="col-3 mb-4"
                v-for="item in this.items"
                v-bind:key="item.id"
            >
                <item-display
                    v-bind:item-link="itemLink + '/' + item.id"
                    v-bind:item-image="assetLink + '/' + JSON.parse(item.images)[1]"
                    v-bind:item-name="item.item_name"
                    v-bind:price="item.price"
                ></item-display>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
            'randomItems',
            'assetLink',
            'itemLink'
        ],

        data: function() {
            return {
                preferedTitle: (this.title != undefined ? this.title : ''),
                items: JSON.parse(this.randomItems),
            }
        },
    }
</script>