<template>
    <div class="product-overlay">
        <div class="product-image">
            <img v-bind:src="this.itemImage" />
        </div>
        <a v-bind:href="this.itemLink" class="product-detail">
            <h4 class="mb-3">
                {{ this.itemName }}
            </h4>
            <p>
                {{ this.price }}
            </p>
        </a>
    </div>
</template>

<script>
    export default {
        props: ['itemLink', 'itemImage', 'itemName', 'price'],
    }
</script>