<template>
    <ul class="sidebar col-lg-2 col-md-3 col-sm-4 col-xs-12 pr-0 py-4">
        <li class="sidebar-item logo">
            <a href="#" class="sidebar-logo">
                Furniture
            </a>
        </li>
        <li class="sidebar-separator"></li>
        <li class="sidebar-item">
            <a href="/" class="sidebar-link">
                Beranda
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/category" class="sidebar-link">
                Kategori
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/cart" class="sidebar-link">
                Keranjang
            </a>
        </li>
        <li class="sidebar-separator"></li>

        <div v-if="this.showAuth">
            <li class="sidebar-item">
                <a href="/login" class="sidebar-link">
                    Login
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/register" class="sidebar-link">
                    Register
                </a>
            </li>
        </div>
        <div v-else>
            <li class="sidebar-item">
                <a href="/profile" class="sidebar-link">
                    <b>{{ this.username }}</b>
                </a>
                <a v-if="this.showAdmin === true" href="/admin" class="sidebar-link">
                    Admin Page
                </a>
                <a href="/profile" class="sidebar-link">
                    Profil
                </a>
                <a href="javascript:void(0)" class="sidebar-link"
                    v-on:click="logout($event)">
                    Logout
                </a>
                <form id="logoutForm" method="POST" style="display: none;">
                    <input type="hidden" name="_token" id="logout_token" />
                </form>
            </li>
        </div>

    </ul>
</template>

<script>
    export default {
        props: [
            'logoutRoute',
            'username',
            'showAuth',
            'showAdminLink',
            'csrfToken'
        ],

        data: function() {
            return {
                showAdmin: (this.showAdminLink == 'true' ? true : false),
            }
        },
        
        mounted() {
            if(this.username != '') {
                document.getElementById('logoutForm').setAttribute('action', this.logoutRoute);
                document.getElementById('logout_token').value = this.csrfToken;
            }
        },

        methods: {
            logout: function(event) {
                event.preventDefault();
                document.getElementById('logoutForm').submit();
            }
        }
    }
</script>